.align-left {
  text-align: left;
}

.justify {
  text-align: justify;
}

.distance-top-100 {
  padding-top: 100px;
}

.distance-top-120 {
  padding-top: 120px;
}

.distance-top-150 {
  padding-top: 150px;
}